:root {
    background-color: #ffffff;
}

.body-fonts {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.style-logos-logo {
    color: #2E2F42;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.footer-list-syle {
    background-color: #2e2f42
}

/* LOGO */

.style-logo-logos {
    color: #2e2f42;
}

.logo-color-list {
    color: #f4f4fd;
}

.logo-linked link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.address-list {
    font-style: normal;
    color: #434455;
}

/* CONTACTS */
.nav-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: var(--color-primary);
}

:root {
    --color-primary: #404bbf;
}

/* HERO */

.text-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-style {
    background-color: #2e2f42;
}


/* TEXT TOP */

.background {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}

:root
/* BUTTON */

.btn-style {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #4D5AE5;
    cursor: pointer
}

.btn-style:focus,
.btn-style:hover {
    background-color: #404BBF;
}

.section-style {
    color: #2e2f42;
}

/* HERO */

.hero-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.hero-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #434455;
}

/* GOAL LIST */

.goal-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

/* TEAM */

.team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2e2f42;
}

.team-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2e2f42;
}

/* FUTER PORFOLIO */

.style-logos-item {
    color: #f4f4fd;
    background-color: #2e2f42;
}