:root {
    background-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 1.17;
}

span {
    color: #f4f4fd;
}

.style-logos-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.footer-list-syle {
    background-color: #2e2f42
}