body {
    font-family: 'Roboto', sans-serif;
    color: #434455;

}

:root {
    --background-color: #ffffff;
}

.style-logos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
}