:root {
    background-color: #ffffff;
}

.body-fonts {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.style-logos-logo {
    color: #2E2F42;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.footer-list-syle {
    background-color: #2e2f42
}

/* LOGO */

.style-logo-logos {
    color: #2e2f42;
}

.logo-color-list {
    color: #f4f4fd;
}

.logo-linked link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.address-list {
    font-style: normal;
    color: #434455;
}

/* CONTACTS */
.contacts-style-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.contacts-style-link:hover {
    color: #404bbf
}

.contacts-style-link:focus {
    color: #404bbf
}

:root {
    --color-primary: #404bbf;
}


/* TEXT TOP */

.background {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}

.text-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* BUTTON */

.btn-style {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.07;
}

.text-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.section-style {
    color: #2e2f42;
}

/* FUTER PORFOLIO */

.style-logos-item {
    color: #f4f4fd;
    background-color: #2e2f42;
}