.TopColors {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}